.bg-gradient {
  background: linear-gradient(
    to right,
    #198754,
    #28a745
  ) !important; /* Bootstrap success greens */
}

.aiOutput {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: sans-serif;
  white-space: pre-wrap;
  word-break: break-word;
}
.width95 {
  width: 95%;
}
.width3 {
  width: 3%;
}
.copyicon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}
.copy-wrapper {
  display: inline-block;
  position: relative;
}

.copy-feedback {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  color: green;
  font-size: 0.85rem;
  font-weight: 600;
}
.icons-nav-bar {
  color: #fff;
  transition: color 0.2s;
  font-weight: bold;
}
.icons-nav-bar:hover {
  color: #198754;
}